[flake8]
ignore = E203, E266, E501, W503, I001, I003, E231, C901, F405, F403, F841, E722
max-line-length = 120
max-complexity = 18
select = B,C,E,F,I,W,T4,B9,Q0
inline-quotes = "
exclude = breastcancer/data/convert_to_db_scripts/
